# Ignore node_modules directory
node_modules/

# Ignore logs
logs/
*.log

# Ignore environment variables file
.env

# Ignore npm-debug files
npm-debug.log*

# Ignore coverage output folder
coverage/

# Ignore system-specific files
.DS_Store